.container {
  padding: 2px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  transition: top 0.3s;
  background-color: #fff;
}

.containerHidden {
  top: -50px;
}

.drawerContainer {
  width: 400px;
  font-size: 20px;

  .drawerHeader {
    padding: 2px;
  }

  .subMenuContainer {
    padding: 10px;
  }
}

// Override MuiListItemIcon styles.
.menuIcon {
  min-width: 40px !important;
}

.listItem {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
