@import "src/styles/index.scss";

.container {
  padding: 0 2px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: top 0.3s;
  background-color: $color-dark-black;
  z-index: 99;
  font-family: $sans-serif-font;
  height: 52px;

  .left {
    display: flex;
    align-items: center;

    .menu {
      text-transform: uppercase;
      letter-spacing: 0.08em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-weight: 400;
      cursor: pointer;
      color: $color-light-gray;
      height: 52px;
    }

    .menuInactive {
      &:hover {
        color: $color-yellow;
      }
    }

    .menuActive {
      color: $color-yellow;
      padding-bottom: -8px;
    }

    .allPosts {
      margin-left: 20px;
    }

    .verticalDivider {
      border-left: 1px solid $color-light-gray;
      margin-left: 15px;
      height: 13px !important;
    }

    .web,
    .basics {
      margin-left: 15px;
    }
  }
}

.homeIcon,
.menuOpenIcon {
  color: $color-light-gray;
  margin-right: 8px;

  &:hover {
    color: $color-yellow;
  }
}

.verticalDivider {
  height: 10px !important;
  background-color: $color-white !important;
}
