@import "../../../styles/index.scss";

.container {
  padding: 2px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: top 0.3s;
  background-color: $color-soybean;
  z-index: 999;
  font-family: $sans-serif-font;

  .left {
    display: flex;
    align-items: center;

    .menus {
      color: $color-white;
      text-transform: uppercase;
      letter-spacing: 0.08em;
      margin-left: 20px;

      &:hover {
        color: $color-eclipse;
      }
    }

    @media only screen and (max-width: 400px) {
      .menus {
        display: none;
      }
    }
  }
}

.containerHidden {
  top: -50px;
}

.drawerContainer {
  width: 600px;
  font-size: 20px;

  @media only screen and (max-width: 620px) {
    width: 100%;
  }

  .drawerHeader {
    padding: 2px;
  }

  .subMenuContainer {
    padding: 10px;
  }
}

// Override MuiListItemIcon styles.
.menuIcon {
  min-width: 40px !important;
}

.listItem {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.link {
  @include link-no-change;
}

.homeIcon,
.menuOpenIcon {
  color: $color-white;

  &:hover {
    color: $color-eclipse;
  }
}

.verticalDivider {
  height: 10px !important;
  background-color: $color-eclipse !important;
}
