@import "../../../styles/index.scss";

.container {
  padding: 2px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: top 0.3s;
  background-color: $color-soybean;
  z-index: 999;
  font-family: $sans-serif-font;

  .left {
    display: flex;
    align-items: center;

    .menu {
      text-transform: uppercase;
      letter-spacing: 0.08em;
      margin-left: 20px;
    }

    .menuInactive {
      color: $color-white;

      &:hover {
        color: $color-eclipse;
      }
    }
  }
}

.homeIcon,
.menuOpenIcon {
  color: $color-white;

  &:hover {
    color: $color-eclipse;
  }
}

.verticalDivider {
  height: 10px !important;
  background-color: $color-white !important;
}
