@import "src/styles/index.scss";

.drawerHeader {
  cursor: pointer;
}

.drawerContainer {
  width: 600px;
  font-size: 20px;

  @media only screen and (max-width: 620px) {
    width: 100%;
  }

  .drawerHeader {
    text-align: right;
    padding: 2px;
  }

  .subMenuContainer {
    padding: 10px;
  }
}

// Override MuiListItemIcon styles.
.menuIcon {
  min-width: 40px !important;
}

.listItem {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.link {
  @include link-no-change;
}
