@import "src/styles/index.scss";

.postTitleContainer {
  font-size: 16px;
  display: flex;
  align-items: center;
  margin: 0 20px 30px;

  .tag {
    margin-right: 15px;
    font-family: $sans-serif-font;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: $color-dark-gray;
    color: $color-white;
    padding: 10px;
    letter-spacing: 0.08em;
  }
}
