@import "src/styles/index.scss";

.postTitleContainer {
  margin-bottom: 30px;
  font-size: 16px;
  color: $color-dark-gray;
  font-family: $serif-font;
  display: flex;
  align-items: flex-end;

  .tag {
    margin-right: 15px;
    font-family: $sans-serif-font;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: $color-blue;
    color: $color-white;
    padding: 10px;
    letter-spacing: 0.08em;
  }
}
