@import "src/styles/index.scss";

.tagContainer {
  @include link-blue;

  margin-right: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.count {
  font-size: 12px;
  margin-left: 2px;
}
