@import "src/styles/index.scss";

.tagContainer {
  @include link-blue;

  margin: 5px 5px 5px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.count {
  font-size: 12px;
  margin-left: 2px;
}
