@import "src/styles/index.scss";

.tagContainer {
  @include link-style($color-dark-gray);

  margin: 5px 5px 5px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.count {
  font-size: 12px;
}
