body {
  font-family: $body-font;
  color: $color-black;
}

a {
  color: $color-blue;
  text-decoration: none;

  &:hover {
    color: $color-peach;
  }
}

// #region browser psuedo classes styles.
// Note that these should be always separate block.
// https://stackoverflow.com/questions/48834555/how-can-i-change-text-selection-highlight-color-usually-selection-in-react

::-moz-selection {
  background: $color-soybean;
  color: $color-eclipse;
}

::-webkit-selection {
  background: $color-soybean;
  color: $color-eclipse;
}

::selection {
  background: $color-soybean;
  color: $color-eclipse;
}

// #endregion

// .navbar {
//   background-color: white;
//   // border-right: 1px solid rgba(0, 0, 0, 0.4);
//   // border-left: 1px solid rgba(0, 0, 0, 0.4);
//   border-bottom: 1px solid rgba(0, 0, 0, 0.4);
//   line-height: 1;
// }
// .navbar-light .navbar-nav .nav-link,
// .navbar-light .navbar-brand {
//   color: #0056b3;
//   &:hover {
//     color: #007bff;
//   }
// }

// strong {
//   font-weight: 900;
//   color: $highlight-2;
// }
