#App {
  height: 100vh;
}

#page-wrap {
  text-align: center;
  overflow: auto;
}

#main-logo {
  z-index: 1;
  position: fixed;
  width: 36px;
  left: 36px;
  top: 36px;

  @media screen and (max-width: 800px) {
    position: absolute;
    width: 20px;
    left: 5px;
    top: 5px;
  }
}

.menu-title {
  text-align: center;
}

.menu-between {
  height: 15px;
}

.up-link:hover {
  color: $light-gray;
}

.tag-item {
  display: inline-block !important;
  font-size: 1em !important;
}

//......

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;

  color: #d1d1d1;
  transition: color 0.2s;
  font-weight: 800;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
  
  @media screen and (max-width: 800px) {
    width: 15px;
    height: 15px;
    top: 11.5px;
    right: 9.7px;
  }
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
