@import url('https://fonts.googleapis.com/css?family=Open+Sans|Noto+Sans|Raleway|Roboto&display=swap');

$site-font: 'Noto Sans', sans-serif;

$light-gray: rgb(240, 240, 240);
$dark-gray: rgb(80, 80, 80);
$white: white;
