@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");

$light-gray: #d7cec7;
$highlight-1: #76323f;
$highlight-2: #c09f80;

$background-blue: rgba(113, 199, 236, 0.2);
$background-blue-bolder: rgba(113, 199, 236, 0.5);
$background-pink: rgba(245, 106, 159, 0.16);
$background-yellow: rgba(226, 199, 64, 0.25);

$white: white;

// This is a new color theme for the new design.
// Remove unused variables later above.
// https://www.designwizard.com/blog/design-trends/colour-combination
$color-blue: #00539c; // Text with link.
$color-peach: #eea47f;
$color-eclipse: #d7c49e;
$color-yellow: #ffd662;

$color-dark-black: #292929; // Basic text color.
$color-dark-gray: #565656; // Basic text color.
$color-dark-gray-1: #8c8c8c;
$color-light-gray: #bfbfbf;
$color-light-gray-1: #e0dcdc;
$color-background-main: #f1f1f12e; // TODO
$color-white: #fff;

$sans-serif-font: "Roboto", sans-serif;

@mixin link-style($color) {
  color: $color;
  text-decoration: none;

  &:hover {
    color: $color-eclipse;
  }
}

// link style with no change.
@mixin link-no-change {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}
