@import "src/styles/index.scss";

.layer {
  background-color: $color-dark-gray;
  opacity: 0.7;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.layerHidden {
  visibility: hidden;
}

.bodyContainer {
  margin-top: 80px;
}
