@import "src/styles/index.scss";

.menuContainer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 0 10px;
}

.logo {
  margin-left: 12px;
}

.bodyContainer {
  margin-top: 60px;
}
