@import "src/styles/index.scss";

.postHeaderContainer {
  color: $color-dark-gray;
  margin-bottom: 40px;

  .title {
    display: inline-block;
    margin-top: 15px;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.08em;
  }

  .footer {
    font-size: 15px;
    color: $color-dark-gray;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .categoryContainer,
    .authorContainer,
    .dateContainer {
      margin: 10px 20px 20px 0;
      border-top: 1px solid $color-light-gray;
      padding-top: 10px;
      width: 250px;
      letter-spacing: 0.08em;

      @media only screen and (max-width: 860px) {
        width: 100%;
      }
    }

    .category {
      font-weight: 600;
      color: $color-light-gray;
      margin-bottom: 5px;
    }

    .categoryName {
      @include link-style($color-dark-gray);

      cursor: pointer;
    }

    .writtenBy {
      font-weight: 600;
      color: $color-light-gray;
      margin-bottom: 5px;
    }

    .datePublished {
      font-weight: 600;
      color: $color-light-gray;
      margin-bottom: 5px;
    }
  }
}
