@import "../../../styles/index.scss";

.postFooterContainer {
  margin-top: 50px;

  .editThisPage {
    display: flex;
    align-items: flex-end;

    .editThisPageText {
      @include link-black;

      margin-left: 10px;
      text-transform: uppercase;
      letter-spacing: 0.08em;
    }
  }

  .tags {
    margin-top: 10px;
    display: flex;
    align-items: center;

    .labelIcon {
      margin-right: 10px;
    }
  }
}
