@import "src/styles/index.scss";

.postFooterContainer {
  margin-top: 50px;

  .editThisPage {
    display: flex;
    align-items: flex-end;

    .editThisPageText {
      @include link-style($color-dark-gray);

      letter-spacing: 0.08em;
    }
  }

  .tagsList {
    margin-top: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .labelIcon {
      margin-top: 5px;
      margin-right: 15px;
    }
  }
}
