@import "src/styles/index.scss";

.container {
  margin: 45px 0;
  color: $color-dark-gray;
}

.previousContainer {
  margin-top: 15px;
}

.nextPost,
.previousPost {
  width: 100px;
  margin-right: 30px;
  margin-left: 2px;
  color: $color-light-gray;
}

.postTitle {
  display: inline-block;
  font-size: 30px;

  @include link-blue;
}
