@import "src/styles/index.scss";

.container {
  margin: 45px 0;
  color: $color-dark-gray;
}

.nextContainer,
.previousContainer {
  display: flex;
  align-items: center;
}

.previousContainer {
  margin-top: 15px;
}

.linkContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nextPost,
.previousPost {
  font-weight: 600;
  color: $color-light-gray;
}

.nextPost {
  margin-right: 60px;
}

.previousPost {
  margin-right: 30px;
}

.postTitle {
  display: inline-block;
  font-size: 30px;

  @include link-blue;
}

.nextNone,
.previousNone {
  color: $color-light-gray;
  font-size: 30px;
}

.arrowIcon {
  margin-left: 15px;
  margin-right: 20px;
  padding-top: 10px;

  @media only screen and (max-width: 860px) {
    display: none;
  }
}
