@import "../../../styles/index.scss";

.container {
  margin: 45px 0;
  color: $color-dark-gray;

  .previous {
    border-left: 8px solid $color-blue;
    padding-left: 20px;

    &:hover {
      border-color: $color-eclipse;
      color: $color-eclipse;
    }

    a {
      color: inherit;
    }
  }

  .next {
    border-right: 8px solid $color-blue;
    padding-right: 20px;

    * {
      text-align: right;
    }

    &:hover {
      border-color: $color-eclipse;
      color: $color-eclipse;
    }

    a {
      color: inherit;
    }
  }
}

.previousPostText,
.nextPostText {
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: $color-dark-gray;
  margin-bottom: 10px;
}

.nextPostText {
  text-align: right;
}

.postTitle {
  font-size: 30px;
  font-weight: 700;
  font-family: "Roboto Slab", sans-serif;
}

.nextNone {
  border-color: $color-dark-gray !important;

  &:hover {
    color: inherit !important;
  }
}

.previousNone {
  border-color: $color-dark-gray !important;

  &:hover {
    color: inherit !important;
  }
}
