@import "src/styles/index.scss";

.container {
  margin: 45px 0;
  color: $color-dark-gray;
}

.nextContainer,
.previousContainer {
  display: flex;
  align-items: center;

  a {
    @include link-style($color-dark-gray);
  }
}

.previousContainer {
  margin-top: 15px;
}

.linkContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nextPost,
.previousPost {
  font-weight: 600;
  color: $color-light-gray;
}

.nextPost {
  margin-right: 50px;
}

.previousPost {
  margin-right: 20px;
}

.postTitle {
  display: inline-block;
  font-size: 30px;
  font-family: "Roboto Slab", sans-serif;
}

.nextNone,
.previousNone {
  border-color: $color-dark-gray !important;

  &:hover {
    color: inherit !important;
  }
}

.arrowIcon {
  margin-left: 15px;
  margin-right: 20px;
  padding-top: 10px;

  @media only screen and (max-width: 860px) {
    display: none;
  }
}
